@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #0000ff;
  background-color: transparent;
}

.logo {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}
.logo:hover{
  transform: scale(0.9);
  
}
/* NAV SECTION */

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  margin: 0px 30px;
  color: #0000ff;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-weight: 600;
}

nav ul a:hover {
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline;
}
nav ul svg:hover {
transform: scale(1.3);
}
header {
  /* background-image: linear-gradient(#000e2e, #004f5a); */
  height: 100vh;
  width: 100vw;
}

.banner-container {
  margin: 200px 120px;
}

.banner-text {
  padding: 0px 100px;
}

.hi-text {
  font-weight: 700;
  color: #0000ff;
  font-size: 24px;
}

.my-name {
  font-weight: 700;
  color: #0000ff;
  font-size: 50px;
}

.banner-description {
  font-size: 50px;
}

/* HIRE ME BUTTON */

.hire-me-btn {
  margin: 20px 100px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  background-color: #0000ff;
  cursor: pointer;
}

.hire-me-btn:hover {
  font-size: 16px;
  background-color: #0000c5;
  box-shadow: 30px 10px 10px #1313c199;
}

/* SKILLS-SECTION */

.skills-container {
  /* height: 100vh;
  width: 100vw; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

p>a {
  text-decoration: none;
}
.grid-container > a > img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}
.section-title {
  margin: 30px 0px 0px;
  font-size: 45px;
  color: #0000ff;
}

.section-description {
  font-size: 20px;
  padding: 50px 0px 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-top: 10px;
}

.grid-item a {
  margin: 50px;
}

/* MESSAGE SECTION */

.message-container {
  height: auto;
  width: auto;
}

.message-title {
  margin: 100px 0px 50px;
  font-size: 45px;
  color: #0000ff;
  text-align: center;
}

.message-description {
  font-size: 30px;
  text-align: center;
}

.input-fields {
  display: flex;
  justify-content: space-evenly;
}

#name-input {
  padding: 20px 200px;
  border: none;
  border-bottom: 2px solid #0000ff;
  outline: none;
  margin: 100px 40px;
  font-size: 18px;
}

#email-input {
  padding: 20px 200px;
  border: none;
  border-bottom: 2px solid #0000ff;
  outline: none;
  margin: 100px 0px;
  font-size: 18px;
}

.textarea-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-area {
  padding: 0px 200px;
  border: none;
  border-bottom: 2px solid #0000ff;
  outline: none;
  margin: 50px 0px 50px;
  font-size: 18px;
}

#submit-btn {
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  background-color: #0000ff;
  cursor: pointer;
  margin-bottom: 100px;
}

#submit-btn:hover {
  font-size: 16px;
  background-color: #0000c5;
  box-shadow: 30px 15px 15px #5151bba4;
}

/* experiment */
.sidebar{
  padding-top:30px;
  position: fixed;
  top: 0 ;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #1726fb2c;
  backdrop-filter:blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  gap: 20px;
 }
.sidebar li{
  text-align: start;
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}

/* FOOTER SECTION STYLE STARTS HERE */

.footer-container {
  height: 100px;
  border-radius: 16px;
  margin: 0 auto;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:50px;
}
.footer-container h3{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
}
.footer-img-container a{
  text-decoration: none;
}
.footer-img-container img{
  padding-right: 24px;
}
.footer-icon-container{
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
align-items: flex-start;
}
.footer-icon-container div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon-container img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.copyright-text{
  margin-top: 10px;
}
/* FOOTER SECTION STYLE ENDS HERE */

                         /* MEDIA QUERY */

       /* RESPONSIVE NAV BAR  */

@media (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
 
@media (max-width:400) {
  .sidebar{
    width: 100%;
  }
}

/* RESPONSIVE ....... */

@media screen and (max-width:767px) {
  .logo{
    font-size: 26px;
  }
  /* .header{
    min-height: 100vh;
    max-width: 100vw;
  } */
  .banner-container {
    margin: 100px 60px;
  }
  .banner-text {
    padding: 0px 0px;
  }
  .hi-text {
    font-weight: 700;
    color: #0000ff;
    font-size: 18px;
  }
  .my-name {
    font-weight: 700;
    color: #0000ff;
    font-size: 40px;
  }
  .banner-description {
    font-weight: 700;
    font-size: 40px;
  }
  .hire-me-btn {
    margin: 20px 0;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    background-color: #0000ff;
    cursor: pointer;
  }
  .section-title {
    margin: 0px 0px 0px;
    font-size: 35px;
    color: #0000ff;
  }
  
  .section-description {
    font-size: 16px;
    padding: 50px 0px 50px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 10px;
  }
  
  .grid-item a {
    margin: 10px 0;
  }
  .message-title {
    margin: 80px 0px 30px;
    font-size: 35px;
    color: #0000ff;
    text-align: center;
  }
  
  .message-description {
    font-size: 20px;
    text-align: center;
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:90% ;
    margin: 0 auto;
  }
  .textarea-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:90% ;
    margin: 0 auto;
  }
  /*  */
  .footer-container {
    height: 200px;
    border-radius: 16px;
    margin: 0 auto;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    padding:50px;
  }
}